.results {
    margin-top: 20px;
}

.results h2 {
    margin-bottom: 10px;
}

.result-card {
    background-color: #f7f7f7;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    list-style: none;
}
