.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    --color-bg: #1f354e;
    --color-bg-low-alpha: #1f354e7f;
    --color-bg-soft: #e5f1ff;
    --color-bg-hover: #e4e6ff;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

:root {
    --color-light: #b4d3f5;
    --color-dark: #314b68;
    --color-link: #ffddc1;
    --color-active: #f7d371;
    --color-light-red: #fabce2;
    --color-error-light: #f7be98;
    --color-error-dark: #5e1111;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-light);
    min-height: 100vh;
}
/* .post {
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: 3rem;
} */
input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: var(--color-light);
}
.panel {
    color: var(--color-light);
    background-color: var(--color-dark);
}