.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    --color-bg: #1f354e;
    --color-bg-low-alpha: #1f354e7f;
    --color-bg-soft: #e5f1ff;
    --color-bg-hover: #e4e6ff;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

:root {
    --color-light: #b4d3f5;
    --color-dark: #314b68;
    --color-link: #ffddc1;
    --color-active: #f7d371;
    --color-light-red: #fabce2;
    --color-error-light: #f7be98;
    --color-error-dark: #5e1111;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-light);
    min-height: 100vh;
}
/* .post {
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: 3rem;
} */
input::placeholder,
textarea::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: var(--color-light);
}
.panel {
    color: var(--color-light);
    background-color: var(--color-dark);
}
.btn-small {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
    transition-duration: 0s;
}
.btn-big {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    border-style: none;
}
.btn-small:hover,
.btn-big:hover {
    background-color: #1d3046;
    transition-duration: 1s;
}
.btn-small:active,
.btn-big:active {
    background-color: #456891;
    transition-duration: 0.3s;
}
.btn-error {
    background-color: var(--color-error-dark);
    color: var(--color-error-light);
}
.btn-error:hover {
    background-color: #380a0a;
    color: #ce956f;
}
.btn-error:active {
    background-color: #8b3030;
    color: #eca97c;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}